 body{
     height: 100%;
     width: 100%;
     box-sizing: border-box;
     
 }
 
  

 .heading{
    font-family: serif;
    
 }

 
 .fa-caret-down{

    color:rgb(216, 166, 73)
 }

 .fa-house{
     color: black;
 }

 .text{
     color: black;
     
 }


 .fa-xmark{

color: #000;

 }

 .fa-circle{
     color: lightgrey;
 }
  
  .image{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      object-fit: cover;
     
  }

  .but{
      
    background-color:rgb(216, 166, 73)
  }

  .buts{
       color: black;
      text-decoration: none;
  }

  .x-mark{
      justify-content: flex-end;
  }

  .place-card{
      height: 19rem;
      width: 20rem;
      border: 3px solid #d3d3d3;
     
  }

  .cb{

    justify-content: space-between;
  }

  .signatureContainer{
    position: fixed;
    top: 200px;
    left: 300px;
  }