 body{
     height: 100%;
     width: 100%;
     box-sizing: border-box;
     
 }
 
  

 .heading{
    font-family: serif;
    
 }

 
 .fa-caret-down{

    color:rgb(216, 166, 73)
 }

 .fa-house{
     color: black;
 }

 .text{
     color: black;
     
 }


 .fa-xmark{

color: #000;

 }

 .fa-circle{
     color: lightgrey;
 }
  
  .image{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      object-fit: cover;
     
  }

  .but{
      
    background-color:rgb(216, 166, 73);
    padding:2px 15px; 
    margin-bottom: 5px;
    
  }

  .x-mark{
      justify-content: space-between;
      
  }

 #label{
   font-size: 12px;
   padding-bottom: 1px;
   margin-top: 1px;
 }


  .signatureCanvas{

    cursor: url('https://i.imgur.com/6wmyrkK.gif'),auto;
    border: 1px solid rgb(216, 166, 73);
    margin: 0 15px;
    border-radius: 10px;
    height: 150px;
  }

  .radio{
    
    padding: 0 2px;
  }

 .sig{
   font-size: 12px;
 }


  .place-card{
      height: 21rem;
      width: 24rem;
      border: 3px solid #d3d3d3;
     
  }

  .cb{

    justify-content: space-between;
  }

  .signatureContainer{
    position: fixed;
    top: 200px;
    left: 300px;
  }

  
  .box {
        position: absolute;
        cursor: move;
         
      }
      
 